WebContent/wsdl/CustomerManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Assignment.springmvc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Assignment.springmvc.com" xmlns:intf="http://Assignment.springmvc.com" xmlns:tns1="http://Annotations.Hibernate.webapps.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Assignment.springmvc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Annotations.Hibernate.webapps.com"/>
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="persondata" type="tns1:personData"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUserResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://Annotations.Hibernate.webapps.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="personData">
    <sequence>
     <element name="FName" nillable="true" type="xsd:string"/>
     <element name="LName" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="personID" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomerManager">

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerManagerSoapBinding" type="impl:CustomerManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerManagerService">

      <wsdl:port binding="impl:CustomerManagerSoapBinding" name="CustomerManager">

         <wsdlsoap:address location="http://localhost:8080/JDBC/services/CustomerManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
